---
title: Sam Wight
layout: layouts/home.njk
description: Senior software engineer at The Nine. Computer science student at The University of Alabama. Writes about web development, politics, mental health, and design.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div id="posts">
  <h2 class="posts-header">Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>